* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: blue;
  font-size: 200px;
}

.jumbotron-top img {
  width: 100%;
}

footer .wrap-top {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer-top {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

footer .footer-list {
  display: flex;
  flex-direction: column;
}

footer .footer-text {
  width: 50%;
  padding-bottom: 50px;
}

footer .footer-list-wrap {
  flex-wrap: wrap;
  height: 300px;
}

footer .footer-list-content {
  width: 25%;
}

footer .footer-logo img {
  position: absolute;
  transform: translateY(-15%);
}

