* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.linked {
  color: #0062ff;
}

.upper-case {
  text-transform: uppercase;
}

.text-transparent {
  color: rgba(255, 255, 255, 0.5);
}

.bg-grey {
  background-color: #f6f6f6;
}

.jumbotron-top img {
  width: 100%;
}

header {
  font-size: 1.1rem;
}

header a {
  text-transform: uppercase;
  font-weight: bold;
}

header .wrap-top {
  background-color: #0282f9;
}

header .wrap-top .container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

header .wrap-top .container div {
  margin-left: 20px;
}

header .wrap-top .container div a {
  color: white;
}

header .wrap-bot .container {
  display: flex;
  align-items: center;
}

header .wrap-bot .container ul {
  display: flex;
}

header .wrap-bot .container ul li {
  margin: 0 10px;
}

header .wrap-bot .searchbar {
  display: flex;
  padding-bottom: 3px;
  border-bottom: 1px solid #0062ff;
}

header .wrap-bot input {
  border: none;
  text-align: right;
  font-weight: bold;
  width: 100px;
  margin-right: 10px;
}

footer .wrap-top {
  background-image: url("/images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer .footer-top {
  width: 1200px;
  margin: 0 auto;
  padding-top: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

footer .footer-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

footer .footer-list h2 {
  text-transform: uppercase;
  color: white;
}

footer .footer-list a {
  color: #978f8f;
}

footer .footer-text {
  width: 50%;
  padding-bottom: 50px;
}

footer .footer-text p {
  color: #978f8f;
}

footer .footer-list-wrap {
  flex-wrap: wrap;
  height: 320px;
  margin-bottom: 15px;
}

footer .footer-list-content {
  width: 25%;
}

footer .footer-logo img {
  position: absolute;
  transform: translateY(-15%);
}

footer .wrap-bot {
  background-color: #303030;
}

footer .wrap-bot .footer-bot {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

footer .wrap-bot .footer-bot .footer-icons-title {
  text-transform: uppercase;
  color: white;
}

footer .wrap-bot .footer-bot .footer-icons {
  display: flex;
  align-items: center;
}

footer .wrap-bot .footer-bot .footer-icons .footer-icon {
  margin: 0 10px;
}

footer .footer-btn button {
  background-color: transparent;
  border: 2px solid #0062ff;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.cards .card-wrap {
  width: 16.6666666667%;
  padding: 10px;
}

.cards .card_image img {
  width: 100%;
}

.row {
  display: flex;
  padding: 40px 0;
}

.wrapper-art {
  background-color: #0282f9;
}

.wrapper-art .art {
  height: 80px;
  position: relative;
  color: white;
}

.wrapper-art .art .art-img {
  position: absolute;
  z-index: 1;
  bottom: 25%;
  border: 1px solid white;
}

.wrapper-art .art .art-comic,
.wrapper-art .art .art-gallery {
  position: absolute;
  z-index: 9;
  background-color: #0282f9;
  padding: 3px;
}

.wrapper-art .art .art-comic {
  top: 0;
  left: 0;
}

.wrapper-art .art .art-gallery {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.available {
  display: flex;
  color: white;
  background-color: #55ba59;
}

.available .available-text {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  border-right: 1px solid black;
}

.available .available-text,
.available .available-btn {
  padding: 10px;
}

.description {
  width: 75%;
  padding-right: 40px;
}

.description > * {
  margin-bottom: 10px;
}

.adv {
  width: 25%;
}

.adv img {
  width: 100%;
}

.content {
  display: flex;
  padding: 20px 0;
}

.content .title {
  width: 30%;
}

.content .text {
  width: 70%;
}

.side {
  width: 50%;
}

.side h2 {
  padding-bottom: 20px;
}

.side-talent {
  padding-right: 15px;
}

.side-specs {
  padding-left: 15px;
}

.border-top {
  border-top: 1px solid #978f8f;
}

.border-left {
  border-left: 1px solid #978f8f;
}

.border-right {
  border-right: 1px solid #978f8f;
}

.border-bot {
  border-bottom: 1px solid #978f8f;
  padding-bottom: 10px;
}

.buy-comics {
  display: flex;
}

.buy-comics h3 {
  font-size: 0.9rem;
}

.buy-comics_box {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding: 25px;
  color: #978f8f;
}

.buy-comics_box img {
  filter: invert(30%);
  width: 15%;
}

.jumbotron-top {
  height: 40vh;
  overflow: hidden;
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
}

