header {
   
    font-size: 1.1rem;

    a {
        text-transform: uppercase;
        font-weight: bold;
    }
    .wrap-top {
        background-color: $color-blue-bg;
        
        .container {
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;
            
            div {
                margin-left: 20px;
                a {
                    color: $white;
                }
            }
        }
        
    }
    .wrap-bot {
        
        .container {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                
                li {
                    margin: 0 10px;
                    
                }
            }
        }
        .searchbar {
            display: flex;
            padding-bottom: 3px;
            border-bottom: 1px solid $color-blue-linked;
        }
        input {
            border: none;
            text-align: right;
            font-weight: bold;
            width: 100px;
            margin-right: 10px;
        }
    }
}